@model AjaxCustomerCRUD.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="ViewBag.Countries"></select>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class ="form-control" asp-items="ViewBag.Cities"></select>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    function FillCities(lstCountryCtrl, lstCityId) 
    {
     var lstCities = $("#"+lstCityId);
     lstCities.empty();
     lstCities.append($('<option/>',
      {
       value: null,
       text: "Select City"
      }));
     var selectedContry = lstCountryCtrl.options[lstCountryCtrl.selectedIndex].value;
     if (selectedContry != null && selectedContry != '')
      {
       $.getJSON('@
       Url.Action("GetCitiesByCountry)', {CountryId: selectedcountry}, function (cities)
        {
         if (cities != null && !jQuery.isEmptyObject(cities))
          {
           $.each(cities, function (index, city)
            {
             lstCities.append($('<option/>',
              {
               value: city.value,
               text: city.text
              }));
             });
          };
        });
       }
      return;
    }
    </script>
}
